#patient_detail_view {
  background-color:#fff;
  padding:0 15px;
}

#region_patients { 
  table tr.selected td {background-color:#fea;}
}
.p_brief_family {
  font-size: $font-size-h4;
}

#p_brief {margin-bottom:20px}
dl.dl-horizontal {
  
  dt {text-align:left;width:140px;}
  dd {margin-left:160px;}
}

#p_patient_photo {
  transition: all 1s ease-in-out;
  filter:blur(5px);
  -webkit-filter:blur(5px);
}

#p_observations_head tr th:nth-child(3), 
#p_observations_list tr td:nth-child(3) {
  text-align:right;
}
/*
#p_record.deceased:before {
  content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background:url(../assets/img/deceased.png) top right no-repeat;
    -ms-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-size:300px;
    background-position:right 100px top 20px;
}*/