#patient_detail_view {
  background-color:#fff;
  padding:0 15px;
}

#region_patients { 
  table tr.selected td {background-color:#fea;}
}
.p_brief_family {
  font-size: $font-size-h4;
}

#p_brief {margin-bottom:20px}
dl.dl-horizontal {
  
  dt {text-align:left;width:140px;}
  dd {margin-left:160px;}
}

#p_patient_photo {
  transition: all 1s ease-in-out;
  filter:blur(5px);
  -webkit-filter:blur(5px);
}

#p_observations_head tr th:nth-child(3), 
#p_observations_list tr td:nth-child(3) {
  text-align:right;
}