<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
</head>

<body id="about_page">
  <%= require('html!./includes/nav.html') %>
    <div class="container page-container" id="about">
      <div class="row">
        <div class="colmd4 collg3">

        </div>
      </div>
      <div class="col-md-12">
        <section>
          <div class="row">
            <div class="col-md-3">
              <a href="http://syntheticmass.mitre.org"><img src="<%= require('./assets/img/synthmass_map.jpg') %>" alt="Background image"  class="side_img"/></a>
            </div>
            <div class="col-md-8 col-md-offset-1">
              <h1 class="page-title">About SyntheticMass</h1>

              <h1 id="background">Background</h1>
              <p><a href="http://syntheticmass.mitre.org">SyntheticMass</a> contains a million realistic but fictional residents of the state of Massachusetts, and that fictional population statistically mirrors the real population. This establishes a risk-free environment for experimenting with:</p>
              <ul>
                <li>Data Visualization</li>
                <li>Risk stratification</li>
                <li>Care management</li>
                <li>Clinical decision support</li>
                <li>Patient Reported data integration</li>
                <li>Evaluation of new treatment models</li>
                <li>Privacy and consent models</li>
                <li>Security and authorization models</li>
                <li>Third-party app development</li>
              </ul>

              <p>SyntheticMass will provide a sandbox for Health IT developers, researchers and clinicians interested in exploring new healthcare solutions. It enables this through:</p>
              <ul>
                <li>Realistic data for fictional patients</li>
                <li>Data that is free of protected health information (PHI) and personally identifiable information (PII) constraints</li>
                <li>Datasets updated over time based on clinical healthcare models and epidemiological models of population health.</li>
              </ul>
              <p><strong>To contribute</strong> please visit SyntheticMass on <a href="https://github.com/synthetichealth/syntheticmass">Github</a></p>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col-md-3">
              <a href="https://github.com/synthetichealth/synthea"><img src="<%= require('./assets/img/guy_poly2.jpg') %>" alt="Synthea image"  class="side_img"/></a>

            </div>
            <div class="col-md-8 col-md-offset-1">
              <h1 id="team">About Synthea</h1>

              <h2>Synthea - Synthetic Patient Population Simulator</h2>
              <p><a href="https://github.com/synthetichealth/synthea">Synthea</a> is a Synthetic Patient Population Simulator that is used to generate the synthetic patients within SyntheticMass. Synthea outputs synthetic, realistic (but not real), patient data and associated health records in a variety of formats. Read our <a href="https://github.com/synthetichealth/synthea/wiki">wiki</a> for more information.</p>
			  <p>Currently, Synthea features:</p>
			  <ul>
				<li>Birth to Death Lifecycle</li>
				<li>Configuration-based statistics and demographics (defaults with Massachusetts Census data)</li>
				<li>Modular Rule System</li>
				<ul>
				<li>Drop in Generic Modules</li>
				<li>Custom Ruby rules modules for additional capabilities</li>
				</ul>
				<li>Primary Care Encounters, Emergency Room Encounters, and Symptom-Driven Encounters</li>
				<li>Conditions, Allergies, Medications, Vaccinations, Observations/Vitals, Labs, Procedures, CarePlans</li>
				<li>Formats</li>
				<ul>
				<li>FHIR (STU3 v1.6)</li>
				<li>C-CDA</li>
				</ul>
				<li>Rendering Rules and Disease Modules with Graphviz</li>
			</ul>
            <p><strong>To contribute</strong> please visit Synthea on <a href="https://github.com/synthetichealth/synthea">Github</a></p>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col-md-3">
              <a href="http://standardhealthrecord.org"><img src="<%= require('./assets/img/shr_logo_bkgd.svg') %>" alt="SHR image" class="side_img"/></a>
            </div>
            <div class="col-md-8 col-md-offset-1">
              <h1 id="team">About the Standard Health Record Collaborative</h1>

              <h2>Standard Health Record Collaborative</h2>
              <p><a href="http://standardhealthrecord.org">The Standard Health Record Collaborative</a> is working to create a single, high-quality health record for every individual in the United States.</p>
              <p>Our vision is to fundamentally shift how health data is digitally recorded and shared to improve patient outcomes. When adopted, the SHR data model solves semantic interoperability for healthcare. As an open source project, the SHR engages
                a broad community and can provide a powerful model for global health.</p>
            <p><strong>To contribute</strong> please visit the Standard Health Record Collaborative on <a href="https://github.com/standardhealth">Github</a></p>
          </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col-md-3">
              <a href="http://www.mitre.org"><img src="<%= require('./assets/img/mitre_bdfd.jpg') %>" alt="MITRE image" class="side_img"/></a>


            </div>
            <div class="col-md-8 col-md-offset-1">
              <h1 id="team">About the team behind SyntheticMass, Synthea and the Standard Health Record Initiaive</h1>

              <h2>The MITRE Corporation</h2>
              <p><a href="http://www.mitre.org">The MITRE Corporation</a> is a not-for-profit organization working in the public interest that operates federally funded research and development centers to provide innovative solutions to national problems.
              </p>
              <!-- <img src="<%= require('./assets/img/MITRElogo.jpg') %>" alt="MITRE Logo"  class="logo"/></a><a href="http://www.mitre.org"> -->
            </div>
          </div>
        </section>

      </div>

    </div>
    <%= require('html!./includes/footer.html') %>
      <script>
        $(document).ready(function() {
          $("#about_nav a").click(function() {
            var id = $(this).attr('href');
            $('html, body').animate({
              scrollTop: $(id).offset().top - 60
            }, 1000);
          });
        });
      </script>
</body>

</html>
