<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
</head>

<body id="about_page">
  <%= require('html!./includes/nav.html') %>
    <div class="container page-container" id="about">
      <div class="row">
        <div class="colmd4 collg3">

        </div>
      </div>
      <div class="col-md-12">
        <section>
          <div class="row">
            <div class="col-md-3">
              <a href="http://syntheticmass.mitre.org"><img src="<%= require('./assets/img/synthmass_map.jpg') %>" alt="Background image"  class="side_img"/></a>
            </div>
            <div class="col-md-8 col-md-offset-1">
              <h1 class="page-title">About SyntheticMass</h1>

              <h1 id="background">Background</h1>
              <p><a href="http://syntheticmass.mitre.org">SyntheticMass</a> contains realistic but fictional residents of the state of Massachusetts. The synthetic population aims to statistically mirrors the real population in terms of demographics, disease burden, vaccinations, medical visits, and social determinants. SyntheticMass establishes a risk-free environment for experimenting with:</p>
              <ul>
                <li>Data visualization</li>
                <li>Risk stratification</li>
                <li>Care management</li>
                <li>Clinical decision support</li>
                <li>Patient reported data integration</li>
                <li>Evaluation of new treatment models</li>
                <li>Privacy and consent models</li>
                <li>Security and authorization models</li>
                <li>Third-party app development</li>
              </ul>

              <p>SyntheticMass will provide a sandbox for Health IT developers, researchers, and clinicians interested in exploring new healthcare solutions. It enables this through:</p>
              <ul>
                <li>Realistic data for fictional patients</li>
                <li>Data that is free of protected health information (PHI) and personally identifiable information (PII) constraints</li>
                <li>Datasets updated over time based on clinical healthcare models and epidemiological models of population health.</li>
              </ul>
              <p><strong>To contribute, </strong> please visit SyntheticMass on <a href="https://github.com/synthetichealth/syntheticmass">Github</a></p>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col-md-3">
              <a href="https://github.com/synthetichealth/synthea"><img src="<%= require('./assets/img/guy_poly2.jpg') %>" alt="Synthea image"  class="side_img"/></a>

            </div>
            <div class="col-md-8 col-md-offset-1">
              <h1 id="team">About Synthea</h1>

              <h2>Synthea - Synthetic Patient Population Simulator</h2>
              <p><a href="https://github.com/synthetichealth/synthea">Synthea</a> is a Synthetic Patient Population Simulator that is used to generate the synthetic patients within SyntheticMass. Synthea outputs synthetic, realistic (but not real) patient data and associated health records in a variety of formats. Read our <a href="https://github.com/synthetichealth/synthea/wiki">wiki</a> for more information.</p>
      			  <p>Currently, Synthea features:</p>
      			  <ul>
      			  	<li>Birth to Death Lifecycle</li>
      			  	<li>Configuration-based statistics and demographics (defaults with Massachusetts Census data)</li>
      			  	<li>Modular Rule System</li>
      			    <ul>
      			      <li>Drop in Generic Modules</li>
      			      <li>Custom Ruby rules modules for additional capabilities</li>
      			    </ul>
      				  <li>Primary Care Encounters, Emergency Room Encounters, and Symptom-Driven Encounters</li>
      				  <li>Conditions, Allergies, Medications, Vaccinations, Observations/Vitals, Labs, Procedures, CarePlans</li>
      				  <li>Formats</li>
      				  <ul>
      			      <li>FHIR</li>
      			      <li>C-CDA</li>
      				  </ul>
      				  <li>Rendering Rules and Disease Modules with Graphviz</li>
      			</ul>
            <p><strong>To contribute</strong>, please visit Synthea on <a href="https://github.com/synthetichealth/synthea">Github</a></p>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col-md-3">
              <a href="http://standardhealthrecord.org"><img src="<%= require('./assets/img/shr_logo_bkgd.svg') %>" alt="SHR image" class="side_img"/></a>
            </div>
            <div class="col-md-8 col-md-offset-1">
              <h1 id="team">About the Standard Health Record Collaborative</h1>

              <h2>Standard Health Record Collaborative</h2>
              <p><a href="http://standardhealthrecord.org">The Standard Health Record Collaborative</a> is working to create the Standard Health Record (SHR), a single, high-quality health record for every individual in the United States. The SHR provides the foundation for the collection, communication, and aggregation of patient data into one accurate, timely, precise, relevant, and complete record. SHR will accelerate secondary uses in public health, disease surveillance, post-approval monitoring, and patient-centered outcomes research. By establishing a single target for health data, the SHR can solve clinical interoperability and support a wide-range of clinicians, caregivers, payers, and patients.</p>
              <p>  Enabling transparency and precise communication across the healthcare system, the SHR leads clinicians and the American public to realize major benefits through improved care coordination, reduction of medical errors, minimization of waste, fraud, and abuse, and decreased costs that accompany healthier lives. </p>

              <p>  Currently, SHR provides standards for recording information about:</p>
              <ul>
                <li>Actors who play a role in the health space</li>
                <li>Immunization history of patients</li>
                <li>Human behaviors that impact current and future health (e.g. SmokingStatus and ContraceptiveMethodsUsed)</li>
                <li>Patient demographics </li>
                <li>Environmental factors that impact patient health and treatment access.</li>
                <li>Life history of patients, reflecting any changes over time.</li>
                <li>Medication details highlighting treatment specific information and medication adherence </li>
                <li>Vital sign metrics crucial to emergency and in-patient treatment (e.g. DiastolicPressure and OxygenSaturation)</li>
              </ul>
              
            <p> As an open source project, the SHR engages a broad community and can provide a powerful model for global health. <strong>To contribute</strong>, please visit the Standard Health Record Collaborative on <a href="https://github.com/standardhealth">Github</a></p>
          </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col-md-3">
              <a href="http://www.mitre.org"><img src="<%= require('./assets/img/mitre_bdfd.jpg') %>" alt="MITRE image" class="side_img"/></a>
            </div>
            <div class="col-md-8 col-md-offset-1">
              <h1 id="team">About the team behind SyntheticMass, Synthea and the Standard Health Record Collaborative</h1>

              <h2>The MITRE Corporation</h2>
              <p><a href="http://www.mitre.org">The MITRE Corporation</a>  is a not-for-profit company working in the public interest, operating multiple federally funded research and development centers (FFRDCs). FFRDCs are unique organizations that assist the United States government with scientific research and analysis, development and acquisition, and systems engineering and integration. MITRE does not have commercial interests and cannot compete for anything except the right to operate FFRDCs. This lack of commercial conflicts of interest forms the basis for MITRE’s objectivity and subsequent ability to acquire sensitive and proprietary information from the government and industry to inform critical initiatives.
             </p>
             <p>The CMS Alliance to Modernize Healthcare (CAMH) FFRDC, sponsored by the Centers for Medicare & Medicaid Services (CMS), assists both the CMS and the Department of Health and Human Services (HHS) in performing research and analysis on various topics that fall within the national health domain. As the CAMH FFRDC operator and partner, MITRE serves as an objective, independent advisor to CMS and HHS operating divisions. As the only broadly healthcare-focused FFRDC, CAMH supports many of the complex analysis and critical thinking requirements that encompass the business, policy, technology, and operational interests across CMS and HHS.
             </p>
              <!-- <img src="<%= require('./assets/img/MITRElogo.jpg') %>" alt="MITRE Logo"  class="logo"/></a><a href="http://www.mitre.org"> -->
            </div>
          </div>
        </section>

      </div>

    </div>
    <%= require('html!./includes/footer.html') %>
      <script>
        $(document).ready(function() {
          $("#about_nav a").click(function() {
            var id = $(this).attr('href');
            $('html, body').animate({
              scrollTop: $(id).offset().top - 60
            }, 1000);
          });
        });
      </script>
</body>

</html>
