<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

</head>
<body id="dashboard_page">
<div class="wrapper">
<%= require('html!./includes/nav.html') %>


<div class="container-fluid" style="padding-top:60px;padding-bottom:50px">
  <div class="row">
    <div class="col-xs-12">
      <a class="pull-right" href="#" id="zoom_to_all">Zoom map to all</a>
      <form id="data_form">

        <div class="form-group">
          <label for="data_source_switch">Source of Data:</label>
          <select id="data_source_switch">
            <option value="synthea" selected>Synthea</option>
            <option value="census">Census</option>
          </select>
        </div>

        <div class="form-group">
          <label for="geo_layers_switch">Geographic region:</label>
          <select id="geo_layers_switch">
            <option value="town" selected>Cities and Towns</option>
            <option value="county">County</option>
          </select>
        </div>
        <div class="form-group" id="demographics_group">
          <label for="layer_select">Data Value:</label>
          <select id="layer_select">
          </select>
        </div>
      </form>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
      <div id="layer_details"></div>
      <div id="region_details"></div>
    </div>
    <div class="col-sm-8">
      <div id="patient_detail_view"></div>
      <div id="map_view">
        <div class="map" id="main_map"></div>
        <p><a href="#" id="sort_chart">Sort by value</a> <span class="sep">|</span> <a href="#" id="sort_chart_name">Sort by name</a></p>
        <div id="chart"></div>
      </div>
    </div>
  </div>
  <br />
  </div>
</div>
<%= require('html!./includes/footer.html') %>
</body>
</html>