<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title><Standard Health Record Initiative Feedback%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
</head>
<body id="feedback">
<%= require('html!./includes/nav.html') %>
<div class="container page-container" id="feedback">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <section>
      <img src="<%= require('./assets/img/synthmass_map.jpg') %>" style="width:300px" alt="Map of Massachusetts Counties"></section></div>
    <div class="col-md-8 col-sm-6">
      <section>
        <h1 id="syn_feedback">SyntheticMass Feedback</h1>
          <p>To send feedback to the SyntheticMass team please use this email:</p>
          <p>Project Leader: Andre Quina <a href="mailto:aquina@mitre.org">aquina@mitre.org</a></p>
         <h1 id="contribute">Contribute</h1>
          <p>To contribute to go to the SyntheticMass <a href="https://github.com/synthetichealth/syntheticmassGithub">Github</a> page.</p>
      </section>
    </div>
  </div>
</div>
<%= require('html!./includes/footer.html') %>
<script>
  $(document).ready(function() {
    $("#feedback_nav a").click(function() {
      var id = $(this).attr('href');
      $('html, body').animate({
        scrollTop: $(id).offset().top - 60
      }, 1000);
    });
  });
</script>
</body>
</html>
