<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
</head>
<body id="help">
<%= require('html!./includes/nav.html') %>
<div class="container page-container" id="help">
  <div class="row">
    <div class="col-md-4"><section><h1>SyntheticMass Feedback</h1><img src="<%= require('./assets/img/ma.png') %>" style="width:300px" alt="Map of Massachusetts Counties"></section></div>
    <div class="col-md-8">

      <section>
        <h1>Feedback</h1>
        <p>To send feedback to the SyntheticMass team please use this contact info:</p>
        <p>To send feedback to the SyntheticMass team or to express interest in being involved, please send an e-mail to <a href="mailto:synthea-list@groups.mitre.org">synthea-list@groups.mitre.org</a></p>

         <h1>Contribute</h1>
         <p>To contribute to go to the SyntheticMass <a href="https://github.com/synthetichealth/syntheticmass">Github</a> page.</p>
      </section>

    </div>
  </div>
</div>
<%= require('html!./includes/footer.html') %>
</body>
</html>
