<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="http://syntheticmass.org/">
  <link href='//fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
</head>
<body>
<div class="wrapper">
<%= require('html!./includes/nav.html') %>
<div class="site-banner">
  <div class="container">
    <div class="row">
    <div class="hero">
      <div class="col-md-8 col-xs-6">
      <h1>Synthetic Mass</h1>
      <p>Visualizing population data and synthetic patient health records to simulate the state of Massachusetts.</p>
      <p class="view-dashboard"><a href="dashboard.html" class="btn btn-lg btn-primary">View Synthetic Mass Dashboard</a></p>
      </div>
      <div class="col-md-4 col-xs-6">
        <a href="dashboard.html" title="View Synthetic Mass Dashboard"><img src="<%= require('./assets/img/ma.png') %>" style="width:300px" alt="Map of Massachusetts Counties"></a>
      </div>
    </div>
    </div>
  </div>
</div>
  
<div class="container page-container" id="index_page">
  <div class="row">
    <div class="col-md-8">
      <section>
        <h2>About Synthetic Mass</h2>
        <p>Synthetic Mass is an open-source Health Information Service Provider (HISP) populated with 7 million realistic &ldquo;synthetic residents&rdquo; of Massachusetts.</p>
        <p>Synthetic Mass provides:</p>
        <ul>
          <li>Realistic population health and demographic data at the city and town level</li>
          <li>The ability to drill down to individual synthetic patient data</li>
          <li>Fictional but realistic data representing synthetic providers and patients</li>
          <li>APIs and Data Services such as Direct, FHIR and CCDA</li>
        </ul>
    </div>
  </div>
</div>
  <div class="push"></div>
</div>
<%= require('html!./includes/footer.html') %>
</body>
</html>
