<table class="table">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Procedure</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody id="p_procedure_list">
    {{#each procedures}}
     <tr>
      <td>{{code}}</td>
      <td>{{name}}</td>
      <td>{{datePerformed}}</td>
    </tr>
    {{else}}
      <tr>
        <td colspan="3">No Procedures Recorded</td>
      </tr>
    {{/each}}
  </tbody>
</table>
