<table class="table">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Medication Order</th>
      <th scope="col">Date of Rx</th>
    </tr>
  </thead>
  <tbody id="p_medications_list">
    {{#each medicationOrders}}
     <tr>
      <td>{{code}}</td>
      <td>{{name}}</td>
      <td>{{dateWritten}}</td>
    </tr>
    {{else}}
      <tr>
        <td colspan="3">No Medication Orders Recorded</td>
      </tr>
    {{/each}}
  </tbody>
</table>
