<footer>
  <div class="container">
    <a href="http://www.mitre.org"><img src="<%= require('../assets/img/MITRElogo.jpg') %>" alt="MITRE image"  class="logo"/></a><a href="https://github.com/synthetichealth/syntheticmass"><img src="<%= require('../assets/img/GitHub-Mark-Light-64px.png') %>" alt="Github page"  class="logo"/></a>
    <p>Copyright &copy; 2016, The MITRE Corporation. All rights reserved.Approved for Public Release; Distribution Unlimited. Case Number 16-2027</p>
  </div>
</footer>
